<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,500&display=swap" rel="stylesheet">



    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Himachal Tour</title>


</head>

<body>


    <!-- navbar -->
    <nav class="navbar navbar-light" style="background-color: #89bde491 ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/photos/logo.png" alt="" width="40" height="49" class="d-inline-block align-center">
                <span class="title">
                    GK Travels
                </span>
            </a>
            <a href="/travelnow"><button type="button" class="btn btn-outline-primary">Travel Now</button></a>
        </div>
    </nav>
    <!-- navbar end -->


    <!-- photoarea -->
    <img src="/static/photos/him.jpg" alt="" height="600px" width="100%" >
    <!-- end photo area -->


    <!-- short discription -->
    <div class="about">
        <div class="py-5 text-center">

            <h1 class="head">Himachal</h1>
            <br>
            <p style="font-size:x-large;">
                A village whose descendants trace their ancestry to Alexander the Great, a town which you could easily
                mistake for Tibet, a place where people still live in caves, and a valley which is too beautiful to be
                explored, Himachal Pradesh is a famous tourist destination where one surprise overtakes another quickly.

                It was as if nature decided to create a place which would remind onlookers of her infinite reserves.
                Hugged by the ancient Himalayas, valleys that stretch themselves leisurely, rivers which are enticing &
                sometimes menacing, mountain lakes which are revered as holy sites, the diversity of the topography is
                matched only by its beauty.
            </p>
        </div>
    </div>
    <br>
    <div style="margin: 10px; padding: 20px;">
        <h2>Places to Explore in Himachal</h2>
        <br>
        <ul>
            <li>
                <h3 style="color: red;">Manali</h3>
            </li>
            <br>
            <p style="font-size:x-large;">Manali is counted among the best places to visit in Himachal Pradesh because
                of its rich cultural heritage, deodar & pine forests, amazing views of the snow capped mountains and
                rich cultural heritage. If you visit it in the first week of January, you can attend the winter carnival
                which is marked by dance performances, street plays, songs, group dance and a Winter Queen beauty
                pageant.

                Manali also attracts adventure enthusiasts with opportunities for white water rafting on the River Beas,
                with its Grade II & III rapids.</p>

            <li>
                <h3 style="color: red;">Shimla</h3>
            </li>
            <br>
            <p style="font-size:x-large;">
                Think top honeymoon destinations, think Shimla! Its rich colonial past is evident in its architecture,
                some of which are also the top tourist attractions including Christ Church, Gaiety Theatre and Barnes
                Court (now known as Raj Bhavan).

                Standing apart from all these, in terms of pure excitement and thrill, is the ride on the toy train from
                Kalka to Shimla, which has also been designated by UNESCO as a heritage site.
            </p>
            <br>

            <li>
                <h3 style="color: red;">Dharamshala</h3>
            </li>
            <p style="font-size:x-large;">
                Dharamshala has its fair share of colonial influence, like most of the other tourism places in Shimla.
                But, it’s the Tibetan influence which overshadows any other influence.

                In Mcleodganj, a small town inhabited by mostly Tibetans, you could very well imagine yourself to have
                landed in Tibet quite suddenly! You could explore the main street with its Tibetan craft shops, taste
                Tibetan dishes, and visit the Tsuglag Khang temple.
            </p>
            <br>

            <li>
                <h3 style="color: red;">Dalhousie</h3>
            </li>
            <p style="font-size:x-large;">
                The best places to visit with family in Himachal should always include Dalhousie, a hill station whose
                charm won the heart of Neta Ji Subhash Chandra Bose (Freedom fighter of India).

                The colossal Dhauladhar Ranges with their snow capped peaks, rich colonial architecture, beautiful
                churches, forest trails that overlook wooded hills, waterfalls and springs, and a pleasant climate, all
                of these combined make it a popular tourist attraction in Himachal.
            </p>
            <br>

        </ul>
    </div>
    <!--end short discription -->


    <!-- travel now -->

    <div class="row mb-2" style="margin: auto;">
        <div class="col-md-6" style="margin: 10px; padding: 20px;">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <h3 class="mb-0">Shimla Manali Honeymoon Packages</h3>
                    <div class="mb-1 text-muted">7 Nights / 8 Days</div>
                    <p class="card-text mb-auto"><strong>Places Covered -</strong>Shimla » Kufri » Manali » Chandigarh
                    </p>
                    <br>
                    <a href="/travelnow"><button type="button" class="btn btn-outline-primary">Travel Now</button></a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/static/photos/smmh1.jfif" alt="">


                </div>
            </div>
        </div>
        <p></p>
        <p></p>
        <div class="col-md-6" style="margin: 10px; padding: 20px;">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <h3 class="mb-0">Himachal Tour Package</h3>
                    <div class="mb-1 text-muted">5 Nights / 6 Days</div>
                    <p class="mb-auto"><strong>Places Covered - </strong>Manali » Shimla</p>
                    <a href="/travelnow"><button type="button" class="btn btn-outline-primary">Travel Now</button></a>

                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/static/photos/smllh2.jpg" alt="" height="">


                </div>
            </div>
        </div>
    </div>
    <!-- travel now end  -->
    <br>
    <br>



    <!-- footer -->
    <footer class="blog-footer">
        <p>
            © 2021 GKTravels.com . All Rights Reserved.
        </p>
        <p>
            Thanks for visiting!!!
        </p>
    </footer>
    <!-- footer end -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


</body>

</html>