<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,500&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>GK Travels</title>
</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-light" style="background-color: #89bde491 ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/photos/logo.png" alt="" width="40" height="49" class="d-inline-block align-center">
                <span class="title">
                    GK Travels
                </span>
            </a>
            <a href="/travelnow"><button type="button" class="btn btn-outline-primary">Travel Now</button></a>
        </div>
    </nav>
    <!-- navbar end -->


    <!-- alert -->
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Special Offer!!!</strong> 15% off on Himachal Tour Package.<span class="badge bg-danger">Offer!!!</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- alert end -->


    <!-- carousal -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/photos/photo1.jpg" class="d-block w-100" height="600px" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: rgb(13 222 222);">Holiday Packages In India</h5>
                    <p style="color: rgb(13 222 222);">Best holliday packages for you.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/photos/photo2.jpg" class="d-block w-100" height="600px" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color:rgb(0, 0, 0);">World Tour Packages</h5>
                    <p style="color:rgb(0, 0, 0);">If you are someone who is looking to have an eternal memory, then pay
                        a visit to any of the
                        foreign lands with our best world tour packages.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/photos/photo3.jpg" class="d-block w-100" height="600px" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Best Services across the Globe</h5>
                    <p>We will also provide you with hotel, food, and car rental services throughout India.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    <!-- carousal end -->


    <br>
    <br>

    <!-- short discription -->
    <div class="about">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/static/photos/logo.png" alt="" width="110" height="140">
            <h2 class="title">GK Travels</h2>
            <p>Explore India, Customize Tour Packages, Lowest Rates, Guaranteed Services.</p>
            <br>
            <p class="lead">Why do people travel? The answer is simple and scientifically proved! Travel is beneficial
                to
                both mind and body. Traveling helps an individual to be patient, broad-minded, healthy, and happy.
                Exploring different cultures, respecting their traditions, understanding various ways of life is also an
                essential part of travel. Want to visit Incredible India? India is one of the go-to choices when it
                comes to
                experiencing nature’s mysteries all in one place! Smile Tours and Travels is a prominent and respected
                travel agency in India.</p>
        </div>
    </div>
    <!--end short discription -->



    <h1 class="head">INDIA TOUR</h1>


    <!-- packages box -->
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="/rajasthantour"> <img src="/static/photos/rajasthan-tours.jpg" alt="" width="100%" height="235" style="cursor: pointer;"></a>
                        


                        <div class="card-body">
                            <p class="card-text">Rajasthan Tour Packages</p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="/gujarat"><img src="/static/photos/gujarat-tours.jpg" alt="" width="100%" height="235" style="cursor: pointer;"></a>


                        <div class="card-body">
                            <p class="card-text">Gujarat Tour Packages</p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="/himachal"><img src="/static/photos/himachal-pradesh-tours.jpg" alt="" width="100%" height="235"
                            style="cursor: pointer;"></a>


                        <div class="card-body">
                            <p class="card-text">Himachal Tour Packages</p>

                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
    </div>
    <!--end packages box -->

    <!-- footer -->
    <footer class="blog-footer">
        <p>
            © 2021 GKTravels.com . All Rights Reserved.
        </p>
        <p>
            Thanks for visiting!!!
        </p>
    </footer>
    <!-- footer end -->





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
        </script>

</body>

</html>