<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,500&display=swap" rel="stylesheet">



    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Rajasthan Tour</title>


</head>

<body>


    <!-- navbar -->
    <nav class="navbar navbar-light" style="background-color: #89bde491 ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/photos/logo.png" alt="" width="40" height="49" class="d-inline-block align-center">
                <span class="title">
                    GK Travels
                </span>
            </a>
            <a href="/travelnow"><button type="button" class="btn btn-outline-primary">Travel Now</button></a>
        </div>
    </nav>
    <!-- navbar end -->


    <!-- photoarea -->
    

        <img src="/static/photos/rajbg.jpg" alt="" height="600px" width="100%" >

    
    <!-- end photo area -->


    <!-- short discription -->
    <div class="about">
        <div class="py-5 text-center">

            <h1 class="head">Rajasthan</h1>
            <br>
            <p style="font-size:x-large;">
                Rajasthan is located in North India with a keen historical significance lying in kingdoms, forts,
                traditions, customs, culture and the desert witnessing innumerable travel from both India and from
                abroad. If you are eager to explore the most of Rajasthan in an organized manner, then what else then an
                exclusive Rajasthan Tour Package can assist you the best? With the tour package for Rajasthan, you can
                explore all the places in peace, take pleasure in exploring new activities, tuck in various delicacies,
                and also stroll along the forts and other historic establishments making it renowned as the “Land of
                Kings”.
            </p>
        </div>
    </div>
    <br>
    <div style="margin: 10px; padding: 20px;">
        <h2>Places to Explore in Rajasthan</h2>
        <br>
        <ul>
            <li>
                <h3 style="color: red;">Jaipur</h3>
            </li>
            <br>
            <p style="font-size:x-large;">Jaipur is known as the Pink City of India Udaipur was the capital of Mewar
                Kingdom
                which is a city
                located in the state of Rajasthan. There are many exploring sites here namely, City palace, Lake
                Pichola, Saheliyon ki Bari, Jagmandir and Jagdish Temple to just name the major ones.</p>

            <li>
                <h3 style="color: red;">Udaipur</h3>
            </li>
            <br>
            <p style="font-size:x-large;">
                Renowned as the White City of Rajasthan, Udaipur is the most discussed! It is surrounded by artificial
                lakes and is known mostly for its royal residencies. It was the former capital city of Mewar witnessing
                tourists at the Lake Pichola flourished with peacock mosaics.
            </p>
            <br>

            <li>
                <h3 style="color: red;">Jaisalmer</h3>
            </li>
            <p style="font-size:x-large;">
                Jaisalmer is known as the golden city that is a significant tourist location in Rajasthan located in the
                north western state of Rajasthan, India. The golden sand dunes and all the castles that are located here
                in this place make it the golden city along with the enchanting lakes, opulent temples, and Havelis
                along with the exciting camel rides offering you an unforgettable experience.
            </p>
            <br>

            <li>
                <h3 style="color: red;">Jodhpur</h3>
            </li>
            <p style="font-size:x-large;">
                Popularly known as the Blue City, Jodhpur is located in the Thar Desert which has the 15th century-old
                Mehrangarh Fort. It is set upon a rocky base where numerous buildings are painted in the shade of blue
                from
                where the city derives its name.
            </p>
            <br>

        </ul>
    </div>
    <!--end short discription -->


    <!-- travel now -->

    <div class="row mb-2" style="margin: auto;">
        <div class="col-md-6" style="margin: 10px; padding: 20px;">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <h3 class="mb-0">Rajasthan Tour Packages</h3>
                    <div class="mb-1 text-muted">6 Nights / 7 Days</div>
                    <p class="card-text mb-auto"><strong>Places Covered -</strong> Udaipur » Bundi » Jaipur</p>
                    <a href="/travelnow"><button type="button" class="btn btn-outline-primary">Travel Now</button></a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/static/photos/raj1.jpg" alt="">


                </div>
            </div>
        </div>
        <p></p>
        <p></p>
        <div class="col-md-6" style="margin: 10px; padding: 20px;">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <h3 class="mb-0">Magnificent Rajasthan Tour Packages</h3>
                    <div class="mb-1 text-muted">8 Nights / 9 Days</div>
                    <p class="mb-auto"><strong>Places Covered - </strong>Jaipur » Bikaner » Jaisalmer » Jodhpur »
                        Udaipur</p>
                    <a href="/travelnow"><button type="button" class="btn btn-outline-primary">Travel
                            Now</button></a>


                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/static/photos/raj2.jpg" alt="" height="">


                </div>
            </div>
        </div>
    </div>
    <!-- travel now end  -->
    <br>
    <br>



    <!-- footer -->
    <footer class="blog-footer">
        <p>
            © 2021 GKTravels.com . All Rights Reserved.
        </p>
        <p>
            Thanks for visiting!!!
        </p>
    </footer>
    <!-- footer end -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


</body>

</html>